@font-face {
  font-family: "toutiao";
  /* Project id 2958792 */
  src: url('//at.alicdn.com/t/font_2958792_kw4nwfpg2q.woff2?t=1637646640253') format('woff2'), url('//at.alicdn.com/t/font_2958792_kw4nwfpg2q.woff?t=1637646640253') format('woff'), url('//at.alicdn.com/t/font_2958792_kw4nwfpg2q.ttf?t=1637646640253') format('truetype');
}
.toutiao {
  font-family: "toutiao" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.toutiao-shipin:before {
  content: "\e60c";
}
.toutiao-yuedu:before {
  content: "\e60d";
}
.toutiao-dianzan:before {
  content: "\e601";
}
.toutiao-lishi:before {
  content: "\e602";
}
.toutiao-guanbi:before {
  content: "\e603";
}
.toutiao-shanchu:before {
  content: "\e604";
}
.toutiao-shouye:before {
  content: "\e605";
}
.toutiao-shouji:before {
  content: "\e606";
}
.toutiao-shoucang:before {
  content: "\e607";
}
.toutiao-wenda:before {
  content: "\e608";
}
.toutiao-dianzan2:before {
  content: "\e609";
}
.toutiao-wode:before {
  content: "\e60a";
}
.toutiao-youjiantou:before {
  content: "\e60b";
}
